Scannerapplication/Web References/WSimage/WSimage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="WScan" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="WScan" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="WScan">
      <s:element name="Img_save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ruta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imagen" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="image_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Img_saveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Img_saveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Img_saveSoapIn">
    <wsdl:part name="parameters" element="tns:Img_save" />
  </wsdl:message>
  <wsdl:message name="Img_saveSoapOut">
    <wsdl:part name="parameters" element="tns:Img_saveResponse" />
  </wsdl:message>
  <wsdl:portType name="WSimageSoap">
    <wsdl:operation name="Img_save">
      <wsdl:input message="tns:Img_saveSoapIn" />
      <wsdl:output message="tns:Img_saveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSimageSoap" type="tns:WSimageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Img_save">
      <soap:operation soapAction="WScan/Img_save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSimageSoap12" type="tns:WSimageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Img_save">
      <soap12:operation soapAction="WScan/Img_save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSimage">
    <wsdl:port name="WSimageSoap" binding="tns:WSimageSoap">
      <soap:address location="http://angelus.sens.ohr:8080/WSimage/WSimage.asmx" />
    </wsdl:port>
    <wsdl:port name="WSimageSoap12" binding="tns:WSimageSoap12">
      <soap12:address location="http://angelus.sens.ohr:8080/WSimage/WSimage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>